<div class="spinner-body">	
	<div class="spin-title">
		<p class="page-title">easy家乐福有奖调查</p>				
	</div>
	<div class="spinner-container">
		<div class="slot-shadows slot1" id="slot-shadows1">
			<div class="shadow-left"></div>
			<div class="shadow-right"></div>
			<div class="shadow-center"></div>
		</div>
		<div class="slot-shadows slot1" id="slot-shadows2">
			<div class="shadow-left"></div>
			<div class="shadow-right"></div>
			<div class="shadow-center"></div>
		</div>
		<div class="slot-shadows slot1" id="slot-shadows3">
			<div class="shadow-left"></div>
			<div class="shadow-right"></div>
			<div class="shadow-center"></div>
		</div>
		<div class="slot-shadows slot1" id="slot-shadows4">
			<div class="shadow-left"></div>
			<div class="shadow-right"></div>
			<div class="shadow-center"></div>
		</div>
		<div class="slot-shadows slot1" id="slot-shadows5">
			<div class="shadow-left"></div>
			<div class="shadow-right"></div>
			<div class="shadow-center"></div>
		</div>
		<div class="slot-shadows slot1" id="slot-shadows6">
			<div class="shadow-left"></div>
			<div class="shadow-right"></div>
			<div class="shadow-center"></div>
		</div>


		<div class="slot1" id="slot1">
			<div class="slotitem"><div class="circle"><img src="assets/images/ticket_151_120.png"></div></div>
			<div class="slotitem"><div class="circle"><img src="assets/images/ticket_151_120.png"></div></div>
			<div class="slotitem"><div class="circle"><img src="assets/images/gift_151_120.png"></div></div>
			<div class="slotitem"><div class="circle"><img src="assets/images/ticket_151_120.png"></div></div>
			<div class="slotitem"><div class="circle"><img src="assets/images/gift_151_120.png"></div></div>
			<div class="slotitem"><div class="circle"><img src="assets/images/ticket_151_120.png"></div></div>
			<div class="slotitem"><div class="circle"><img src="assets/images/gift_151_120.png"></div></div>
			<div class="slotitem"><div class="circle"><img src="assets/images/ticket_151_120.png"></div></div>
		</div>
		
		<div class="slot1" id="slot2">
			<div class="slotitem"><div class="circle"><img src="assets/images/gift_151_120.png"></div></div>
			<div class="slotitem"><div class="circle"><img src="assets/images/ticket_151_120.png"></div></div>
			<div class="slotitem"><div class="circle"><img src="assets/images/gift_151_120.png"></div></div>
			<div class="slotitem"><div class="circle"><img src="assets/images/ticket_151_120.png"></div></div>
			<div class="slotitem"><div class="circle"><img src="assets/images/gift_151_120.png"></div></div>
			<div class="slotitem"><div class="circle"><img src="assets/images/gift_151_120.png"></div></div>
			<div class="slotitem"><div class="circle"><img src="assets/images/ticket_151_120.png"></div></div>
			<div class="slotitem"><div class="circle"><img src="assets/images/gift_151_120.png"></div></div>
		</div>
		
		<div class="slot1" id="slot3">
			<div class="slotitem"><div class="circle"><img src="assets/images/ticket_151_120.png"></div></div>
			<div class="slotitem"><div class="circle"><img src="assets/images/gift_151_120.png"></div></div>
			<div class="slotitem"><div class="circle"><img src="assets/images/gift_151_120.png"></div></div>
			<div class="slotitem"><div class="circle"><img src="assets/images/ticket_151_120.png"></div></div>
			<div class="slotitem"><div class="circle"><img src="assets/images/gift_151_120.png"></div></div>
			<div class="slotitem"><div class="circle"><img src="assets/images/gift_151_120.png"></div></div>
			<div class="slotitem"><div class="circle"><img src="assets/images/ticket_151_120.png"></div></div>
			<div class="slotitem"><div class="circle"><img src="assets/images/gift_151_120.png"></div></div>
		</div>

	</div>
	<div class="overlay"></div>	
	<div class="notice-info-dialog shake">
		<!--div class="close-button" ng-click="spinctrl.closeDialog()"><img src="assets/images/close.png"></div-->					
		<div class="title">			
			<p class="page-title">easy家乐福有奖调查</p>			
		</div>
		<div class="content">			
			<img src="assets/images/shake-hand.png">
		</div>		
		<p>感谢您的参与，</p>
		<p>并获得一次摇一摇机会，</p>
		<p style='padding-left:32px;'>
			最高 <img src="assets/images/200.png"> 购物大奖！</p>
		<div class="content"></div>		
	</div>
	<div class="not-winner-dialog">		
		<div class="title">			
			<p class="page-title">easy家乐福有奖调查</p>
			<div class="notwin-face"></div>
		</div>
		<div class="title">
			<img src="assets/images/no_congratulations.png">
		</div>
		<hr>		
		<p>宝宝表示</p>
		<p>很遗憾...</p>	
		
		<a href="http://mp.weixin.qq.com/mp/getmasssendmsg?__biz=MjM5NDY3NTgzMQ==#wechat_webview_type=1&wechat_redirect">			
			<div class="rect-button">关闭页面</div>
		</a>		
	</div>
	<div class="gift-winner-dialog">
		<!--div class="close-button" ng-click="spinctrl.closeDialog()"><img src="assets/images/close.png"></div-->
		<div class="title">
			<p class="page-title">easy家乐福有奖调查</p>			
			<div class="win-face"></div>
		</div>
		<div class="title">
			<img src="assets/images/congratulations.png">
		</div>
		<hr>
		<p>获得</p>
		<p><img src="assets/images/200.png">元免费购物机会！</p>
		<p>赶紧留下你的联系方式</p>
		<p>好让我们找到你</p>
		<!--p class="tickets">
			<img src="assets/images/gift_151_120.png">
			<img src="assets/images/gift_151_120.png">
			<img src="assets/images/gift_151_120.png">
		</p-->
		<div class="rect-button" ng-click="spinctrl.onLeaveInfoDlg()">填写联系方式</div>
	</div>
	<div class="ticket-winner-dialog">
		<!--div class="close-button" ng-click="spinctrl.closeDialog()"><img src="assets/images/close.png"></div-->
		<div class="title">
			<p class="page-title">easy家乐福有奖调查</p>			
			<div class="win-face"></div>
		</div>
		<div class="title">
			<img src="assets/images/congratulations.png">
		</div>
		<hr>
		<p>获得</p>
		<p><img src="assets/images/80.png">元免费购物机会！</p>
		<p>赶紧留下你的联系方式</p>
		<p>好让我们找到你</p>
		<div class="rect-button" ng-click="spinctrl.onLeaveInfoDlg()">填写联系方式</div>
		
	</div>
	<div class="leave-info-dialog">
		<!--div class="close-button" ng-click="spinctrl.closeDialog()"><img src="assets/images/close.png"></div-->
		<div class="title">
			<p class="page-title">easy家乐福有奖调查</p>	
		</div>
		<div class="content">					
			<p>请输入你的联系方式， 稍后会有easy</p>
			<p>家乐福客服专员致电关于领奖详情</p>
		</div>		
		<input ng-model="realname" 	placeholder="真实姓名" />
		<input type="text" ng-model="phonenumber" placeholder="手机号码" maxlength="11" numbers-only />

		<div class="rect-button" ng-click="spinctrl.onSuggest(realname, phonenumber)">提交</div>
		
	</div>
	<div class="after-leave-info-dialog" ng-click="spinctrl.closeDialog()">
		<!--div class="close-button" ng-click="spinctrl.closeDialog()"><img src="assets/images/close.png"></div-->			
		<div class="title">
			<p class="page-title">easy家乐福有奖调查</p>	
		</div>
		<div class="content">			
			<img src="assets/images/xiexie.png">
		</div>	
		<hr>		
		<p class='xiexie'>我们会尽快回电联系你</p>			
	</div>
</div>
